


.header_logo{
  font-size: 80px
  float:left;
  padding: 20px 30px
}
.header{
  height: 150px

}

.main{

}

.menu{

}

.header{
  background-size: cover;
  background-color: #EE680F;
  color: white;
}

ul {
  list-style-type: none;
}

.body{
  height: 600px
}

.footer{
  background-color: #2f5167;
  color: #fff;
  height: 150px;
  padding: 40px;
}

.footer-logo{
  padding: 30px
  float: left;
  font-size: 30px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom: 20px;
}
