
.header_logo{
  font-size: 60px;
  padding: 15px 25px;

}
.header{
  height: 100px;
  color: #fff;
  background-color: #EE680F;
  padding: 60px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
}

.main{
  margin-bottom: 20px;
}

.footer{
  background-color: #2f5167;
  color: #fff;
  height: 150px;
  padding: 40px;
}

.footer-logo{
  padding: 30px;
  float: left;
  font-size: 30px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom: 20px;
}
