body{
  font-family: cursive;
}


.header{
  width:100%;
  height:100px;
  text-align: center;
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.header-logo{
  font-size: 60px;
}


ul {
  list-style-type: none;
}

.main{
  margin-bottom: 20px;
  height: 750px;
  padding-top: 20px;
}

.menu a{
  text-decoration: none;
  color: black;
}

.button{
  background-color: #F6E8DF;
}

.menu{
  width: inherit;
  float:left;
}

.footer{
  background-color:black;
  color: #fff;
  height: 150px;
  padding: 40px;
}

.footer-logo{
  padding: 30px;
  float: left;
  font-size: 30px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom: 20px;
}
